@CHARSET "ISO-8859-1";

body {
  min-height: 600px;
  padding-top: 70px;
    overflow: scroll !important;
    background-color: #F0F0F0;
}

#registrationModal .modal-dialog {
	width: 700px;
}

#headerForQuery{
	font-size:14px;
	font-weight: bold;
	font-style:italic;
	color:gray;
}
#registerBtn {
	float: right;
}

#logout-btn {
	float: right;
	
}

#querySelection {
	padding-right: 30px;
	height: 300px;
	width: 400px;
	float: left;
}

#queryButtons{
	position: relative;
	padding-right: 30px;
	height: 300px;
	width: 400px;
	float: left;
}

#imsiFailuresForTimePeriod7,#zStory11,#top10WorstCellsBtn, #denis,#colin,#causeAndEventForImsiFailures4,
#failuresPerImsiBtn,#top10ImsiCallFailsTimePeriod, 
#imsisPerFailureClassBtn, #st6_CauseCodesPerImsiBtn,#failuresPerDeviceBtn,
#top10FailuresBtn
 {
	width: 300px;
	margin-top: 15px;
}

#searchButton,#failuresPerDeviceBtn{
	background: #428bca;
}


#queryPanel,#moreUserInputDiv{
	width: 300px;
}

#undoStep, #reset, #buildResults{
	background: #428bca;
}

#undoStep, #reset {
	margin-right: 5px;
}

#placeWhereQueriesAreDisplayed{
	padding-left: 50px;
	margin-left: 350px;
	border-left: 5px solid #428bca;
}

#queryPanel .selectTimeDropDown {
	padding-left: 10px;
	width: 50px;
	margin-left: 5px;
	border: 0 !important; /*Removes border*/
	-webkit-appearance: none; /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #ABABB2 url(img/select-arrow.png) no-repeat 90% center;
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: ""; /*Removes default arrow from firefox*/
	/*My custom style for fonts*/
	color: #FFF;
	border-radius: 15px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000, 000, 000, 0.5);
	border-radius: 10px 0;
} 
#queryPanel .selectNameDropDown {
	margin-top: 5px;
	padding-left: 10px;
	width: 200px;
	border: 0 !important; /*Removes border*/
	-webkit-appearance: none; /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #428bca url(img/select-arrow.png) no-repeat 90% center;
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: ""; /*Removes default arrow from firefox*/
	/*My custom style for fonts*/
	color: #FFF;
	border-radius: 15px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000, 000, 000, 0.5);
	border-radius: 10px 0;
} 

#username_description, #password_description {
	font-style: italic;
}

#hourBoxFrom,#minuteBoxTo,#minuteBoxFrom, #hourBoxTo {
	width: 90px;
	margin-top: 5px;
}
#endDateLabel,#startDateLabel{
	width:80px;
}
#endTimeLabel,#startTimeLabel{
	width:75px;
}
#to,#hourBoxTo{
	margin-left:4px;
}
#imsiFailuresForTimePeriod7,#zStory11,#top10WorstCellsBtn, #denis,#colin,#causeAndEventForImsiFailures4,#registerBtn,#btnResetDatabase, 
#btnImport,#registrationSubmitBtn, #btnErrorLog, #failuresPerImsiBtn,
#top10ImsiCallFailsTimePeriod, #imsisPerFailureClassBtn, #st6_CauseCodesPerImsiBtn,
#failuresPerDeviceSearchBtn, #searchIMSIPerFailureClassBtn , #top10FailuresBtn,
#failuresPerDeviceBtn,#searchButton6
{
	background: #428bca;
}

#searchIMSIPerFailureClassBtn{
	margin-left: 5px;
}

#failureClassDropDownList{
	width: 150px;
}

.container.small {
	max-width: 100%;
	width: 400px;
}

.modal-open[style] {
	padding-right: 0px !important;
}

.navbar-right button {
	margin: 10px;
}

#header {
	text-align: left;
	font-family: Arial;
	margin-top: -90px;
	border-bottom: 1px solid #c0c0c0;
	padding: 25px;
    	background: -webkit-linear-gradient(silver, LightSkyBlue);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(silver, LightSkyBlue);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(silver, LightSkyBlue);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(silver, LightSkyBlue);
	/* Standard syntax */
}

.container{
}
.navbar-right button{
	margin:10px;
}

#countDisplay {
	width :50%;
	font-weight: bold;
	position:relative;
	height : 40px;
	border-radius: 5px;
	padding: 5px;
    background: #428bca;
    color: white;
}
#row2 {
	font-weight: normal;
	padding-left: 3px;
}

#cell11 {
	padding-left: 3px;
}

#cell21 {
	padding-left: 3px;
}
#btnErrorLog, #btnResetDatabase{
	margin-left:15px;
}
#btnResetDatabase{
	float:right;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#myTab{
	height:50px;
}
#tableResultsTab, #graphResultsTab{
	position: absolute;
}
#imsiFailuresOverGivenTimePeriod {
	float: right;
}

#dateInfo{
	float:right;
	float:top;
}
